CMakeLists.txt.user
CMakeFiles
Makefile
GameHall_autogen
CMakeCache.txt
build

# Mac
*.DS_Store
.AppleDouble
.LSOverride

# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
